adium-theme-ubuntu==0.3.4
beautifulsoup4==4.6.0
certifi==2017.4.17
chardet==3.0.4
Cheetah==2.4.4
cryptography==1.7.1
cycler==0.10.0
decorator==4.1.1
Django==1.8.7
enum34==1.1.6
functools32==3.2.3.post2
gps==3.16
gyp==0.1
html5lib==0.999999999
idna==2.2
ipaddress==1.0.17
Jinja2==2.9.6
keyring==10.3.1
keyrings.alt==2.2
killerbee==1.0
lxml==3.8.0
MarkupSafe==1.0
matplotlib==2.0.0
netifaces==0.10.4
networkx==1.11
numpy==1.12.1
olefile==0.44
Pillow==4.2.1
pyasn1==0.1.9
pycrypto==2.6.1
pygobject==3.22.0
pygraphviz==1.4rc1
PyOpenGL==3.1.0
pyOpenSSL==16.2.0
pyparsing==2.1.10
PyRIC==0.1.5
pyrit==0.5.1
pyrtlsdr==0.2.4
pyserial==3.4
python-dateutil==2.6.1
pytz==2014.10
pyusb==1.0.0b2
PyX==0.12.1
pyxdg==0.25
PyYAML==3.12
pyzmq==16.0.2
requests==2.18.1
scapy===unknown.version
scipy==0.18.1
SecretStorage==2.3.1
six==1.10.0
SQLAlchemy==1.1.11
sqlparse==0.2.2
subprocess32==3.2.7
unity-lens-photos==1.0
urllib3==1.21.1
virtualenv==15.1.0
webencodings==0.5
wxPython==3.0.2.0
wxPython-common==3.0.2.0
